.container {
    overflow: auto;
}

.content-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
}

.content {
    height: 100%;
    margin: 0 100px;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 2rem;
}

.subheader {
    font-size: 1.75rem;
}

.content p {
    display: block;
}

.noMatter {
    font-size: 0.75rem;
    font-style: italic;
}

.self-img {
    height: 7rem;
    width: auto;
    display: block;
    margin: auto;
    border: 1px solid rgb(233, 191, 191);
    border-radius: 50%;
}