.header {
    justify-self: flex-start;
}

.content-enter, .content-appear {
    opacity: 0;
}

.content-enter-active, .content-appear-active {
    opacity: 1;
    transition: opacity 0.75s ease-in;
}

.content-exit {
    opacity: 1;
}

.content-exit-active {
    opacity: 0;
    transition: opacity 0.75s ease-out;
}

.content-wrapper {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
}

.project-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
}

.arrow-icon {
    height: 3.5vmin;
    width: auto;
    margin: 0 5px;
    cursor: pointer;
}

.content {
    height: 100%;
    margin: 0 100px;
    flex: 1;
    align-self: flex-start;
    overflow: auto;
}

.project-name {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 5rem;
    width: auto;
    margin: 0 10px;
}

.subhead {
    /* font-size: 1em; */
    font-style: italic;
}

.links {
    display: flex;
    font-size: 0.75rem;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.screencap {
    height: auto;
    width: 80%;
    border: 1px solid gray;
    box-shadow: 3px 4px 0 0 gainsboro;
    margin: auto;
    display: block;
}

.description {
    text-align: justify;
    font-size: 15px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
}