.resume-pdf {
    height:  90%;
    width: 80%;
}

.resume-pdf #document {
    height: 100%;
    width: 100%;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
